# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ParticleBodies/build/Debug/Cygwin-Windows/source/particle.o.d
ParticleBodies/build/Debug/Cygwin-Windows/main.o.d
ParticleBodies/ParticleBodies.VC.db
ParticleBodies/ParticleBodies.VC.VC.opendb
